div {display: inline-block;}
div.green{background-color:green;}
div.blue {background-color: green;}
div.red {background-color: red;}
div.purple {background-color: purple;}
div.orange {background-color: orange;}